<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/nav.css}">
</head>
<body>
<nav th:fragment="nav"
     class="flex flex-col md:flex-row items-center justify-between px-4 py-4 bg-primary text-primary-foreground">
    <a th:href="@{/}" title="Logo" class="order-1 text-xl font-bold">TaskMaster</a>
    <input type="checkbox" id="menu-toggle" class="hidden">
    <label for="menu-toggle" class="cursor-pointer md:hidden block order-2 md:order-1">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
    </label>
    <ul id="menu-links"
        class=" hidden z-10 md:flex flex-col md:flex-row items-center space-x-4 order-3 md:order-2 w-full md:w-auto">
        <li><a sec:authorize="isAuthenticated()" th:href="@{/tasks/add-task}"
               th:text="#{nav_add_task}"
               class="text-base font-medium hover:text-primary-700">Add Task</a></li>
        <li><a sec:authorize="isAuthenticated()" th:href="@{/questions/ask}"
               th:text="#{nav_ask_question}"
               class="text-base font-medium hover:text-primary-700">Ask Question</a></li>
        <li><a th:href="@{/questions}"
               th:text="#{nav_questions}"
               class="text-base font-medium hover:text-primary-700">Questions</a></li>
        <li><a th:href="@{/about}"
               th:text="#{nav_about}"
               class="text-base font-medium hover:text-primary-700">About</a></li>
        <li><a th:href="@{/contacts}"
               th:text="#{nav_contacts}"
               class="text-base font-medium hover:text-primary-700">Contacts</a></li>
        <li sec:authorize="hasRole('USER')"
            class="group text-base font-medium relative block">
            <p th:text="#{nav_admin}">Admin</p>
            <ul th:classappend="${#locale.toString().equals('en_US')} ? 'left-[-38%]' : 'left-[-18%]'"
                class=" group-hover:block hidden absolute bg-primary w-22 rounded-lg top-full">
                <li class="px-4 py-2"><a th:text="#{nav_all_users}" th:href="@{/users}">All users</a></li>
                <li class="px-4 pb-2"><a th:text="#{nav_statistics}" th:href="@{/statistics}">Statistics</a></li>
            </ul>
        </li>
    </ul>
    <div class="flex items-center space-x-4 order-2 md:order-3">
        <form th:replace="~{/fragments/language::language(false)}"></form>
        <a sec:authorize="isAnonymous()" th:href="@{/users/register}"
           th:text="#{register_label}"
           class="text-base font-medium text-primary-foreground hover:text-primary-700">Register</a>
        <a sec:authorize="isAnonymous()" th:href="@{/users/login}"
           th:text="#{login_label}"
           class="text-base font-medium text-primary-foreground hover:text-primary-700">Login</a>
        <div sec:authorize="isAuthenticated()"
             class="group text-base font-medium relative block">
            <img aria-hidden="true" id="profilePicture" alt="profile-picture"
                 th:src="${@userHelperServiceImpl.getLoggedUser().getProfilePicture().getUrl()}"
                 class="w-8 h-8 rounded-full object-cover "/>
            <ul
                    th:classappend="${#locale.toString().equals('en_US')} ? 'left-[-90%]' : 'left-[-130%]'"
                    class="group-hover:block hidden absolute bg-primary w-22 rounded-lg top-full">
                <li class="px-4 py-2"><a th:text="#{edit_label}" th:href="@{/users/edit}">Edit data</a></li>
                <li class="px-4 pb-2"><a th:text="#{change_password_label}" th:href="@{/users/change-password}">Change
                    password</a></li>
                <li class="px-4 pb-2">
                    <form th:method="delete" th:action="@{/users/close-account}">
                        <button type="button" th:text="#{nav_delete_profile}"
                                onclick="if(confirm('Are you sure you want to close your account')) this.form.submit()">
                            Delete profile
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <form sec:authorize="isAuthenticated()"
              th:action="@{/logout}" th:method="post">
            <button type="submit" th:text="#{nav_logout}"
                    class="text-base font-medium text-primary-foreground hover:text-primary-700">Logout
            </button>
        </form>
    </div>
</nav>
</body>
</html>