<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head::head}"></head>
<body>
<div class="min-h-screen flex items-center justify-center bg-background">
    <div class="max-w-md p-4 bg-card rounded-lg shadow-md">
        <h1 class="text-3xl font-bold text-black">403 Forbidden</h1>
        <p class="text-lg text-muted-foreground">You don't have permission to perform this action or to access this
            resource.</p>
        <p class="text-sm text-muted-foreground">Please check your credentials or contact the site administrator for
            assistance.</p>
        <div class="flex justify-between">
            <button class="bg-primary text-primary-foreground hover:bg-primary/80 py-2 px-4 rounded-lg mt-4"
                    onclick="history.back()">Go Back
            </button>
            <button class="bg-primary text-primary-foreground hover:bg-primary/80 py-2 px-4 rounded-lg mt-4"
                    onclick="window.location.replace('http://localhost:8080')">Home
            </button>
        </div>
    </div>
</div>
</body>
</html>