<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head::head}"></head>
<body class="bg-blue-500">
<nav th:replace="~{/fragments/navigation::nav}"></nav>
<div class=" mt-4 mb-4 text-primary-foreground min-h-screen flex flex-col items-center justify-center">
    <form th:action="@{/tasks/add-task}"
          th:method="post"
          th:object="${addTaskData}"
          class="bg-card p-8 rounded-lg shadow-lg w-full max-w-xl">
        <h1 class="text-center text-4xl font-bold mb-6 text-black">Add a New Task</h1>
        <div class="grid grid-cols-2 gap-6">
            <div>
                <label th:for="name" class="block text-sm font-medium text-black">Task Name</label>
                <input th:field="*{name}" id="name" name="name" type="text"
                       class="text-black w-full mt-1 p-3 rounded-md border border-input focus:outline-none focus:ring focus:ring-ring"
                       placeholder="Enter task name"/>
                <div th:errors="*{name}"
                     class="text-sm text-destructive">
                    <p>Username length must be between 5 and 15 symbols!</p>
                </div>
            </div>
            <div>
                <label th:for="category" class="block text-sm font-medium text-black">Category</label>
                <input th:field="*{category}" id="category" list="popularCategory" type="text"
                       class="text-black w-full mt-1 p-3 rounded-md border border-input focus:outline-none focus:ring focus:ring-ring"
                       placeholder="Enter task category"/>
                <div th:errors="*{category}"
                     class="text-sm text-destructive">
                    <p>Username length must be between 5 and 15 symbols!</p>
                </div>
            </div>
            <datalist id="popularCategory">
                <option>Personal</option>
                <option>School</option>
                <option>Work</option>
                <option>Finance</option>
                <option>Health</option>
            </datalist>
        </div>
        <div class="grid grid-cols-2 gap-6 mt-6">
            <div>
                <label th:for="priority" class="block text-sm font-medium text-black">Priority</label>
                <select th:field="*{priority}" id="priority"
                        class="text-black w-full mt-1 p-3 rounded-md border border-input focus:outline-none focus:ring focus:ring-ring">
                    <option value="LOW">Low</option>
                    <option value="MEDIUM">Medium</option>
                    <option value="HIGH">High</option>
                </select>
            </div>
            <div>
                <label th:for="dueDate" class="block text-sm font-medium text-black">Due Date</label>
                <input th:field="*{dueDate}" id="dueDate" name="dueDate" type="date"
                       class="min-today today text-black w-full mt-1 p-3 rounded-md border border-input focus:outline-none focus:ring focus:ring-ring"
                       placeholder="Select due date"/>
                <div th:errors="*{dueDate}"
                     class="text-sm text-destructive">
                    <p>Username length must be between 5 and 15 symbols!</p>
                </div>
            </div>
            <div id="start-time-div">
                <label th:for="startTime" class="block text-sm font-medium text-black">Start</label>
                <input th:field="*{startTime}" id="startTime" name="dueDate" type="time" min="today"
                       class="text-black w-full mt-1 p-3 rounded-md border border-input focus:outline-none focus:ring focus:ring-ring"
                       placeholder="Select due date"/>
                <div th:errors="*{startTime}"
                     class="text-sm text-destructive">
                    <p>Username length must be between 5 and 15 symbols!</p>
                </div>
            </div>
            <div id="end-time-div">
                <label th:for="endTime" class="block text-sm font-medium text-black">End</label>
                <input th:field="*{endTime}" id="endTime" name="dueDate" type="time"
                       class="text-black w-full mt-1 p-3 rounded-md border border-input focus:outline-none focus:ring focus:ring-ring"
                       placeholder="Select due date"/>
            </div>
            <div class="flex items-center">
                <input th:field="*{allDay}" type="checkbox" id="allDay"
                       class="mr-2 h-5 w-5 text-black border border-primary rounded focus:ring ring-primary"/>
                <label th:for="allDay" class="text-black">All Day</label>
            </div>
        </div>
        <label th:for="description" class="block text-sm font-medium mt-6 text-black">Notes</label>
        <textarea th:field="*{description}" id="description"
                  class="w-full mt-1 p-3 rounded-md text-black border border-input focus:outline-none focus:ring focus:ring-ring"
                  rows="6" placeholder="Enter task notes"></textarea>
        <div th:errors="*{description}"
             class="text-sm text-destructive">
            <p>Username length must be between 5 and 15 symbols!</p>
        </div>
        <div class="flex justify-center">
            <button type="submit"
                    class="bg-primary text-primary-foreground mt-6 py-3 px-6 rounded-md hover:bg-primary/80 transition-colors">
                Add task
            </button>
        </div>
    </form>
</div>
<footer th:replace="~{/fragments/footer::footer}"></footer>
<script th:src="@{/js/dates.js}"></script>
<script>
    let allDayCheckBox = document.getElementById("allDay");
    let startTimeDiv = document.getElementById("start-time-div");
    let endTimeDiv = document.getElementById("end-time-div");
    allDayCheckBox.addEventListener("change", () => {
        // if (allDayCheckBox.checked) {
        //     startTimeDiv.disabled  = true;
        //     endTimeDiv.disabled  = true;
        // }else {
        //     startTimeDiv.disabled  = false;
        //     endTimeDiv.disabled  = false;
        // }
        startTimeDiv.classList.toggle('hidden');
        endTimeDiv.classList.toggle('hidden');
    });
</script>
</body>
</html>