<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{/fragments/head::head}">
</head>
<body>
<nav th:replace="~{/fragments/navigation::nav}"></nav>
<section th:if="${messageToDisplay != null}" class="bg-green-400 p-4 border-green-900  border-t-8 box-border">
    <p th:text="${messageToDisplay}" class="text-lg">Message to display</p>
</section>
<div class="bg-background text-primary-foreground min-h-screen mx-2 flex flex-col items-center justify-center">
    <main class="container mx-auto mt-8 grid grid-cols-1  md:grid-cols-2">
        <section id="my-tasks" class="max-w-[45em] min-h-96 bg-card rounded-lg p-6 shadow-md overflow-y-auto max-h-96">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-lg text-black font-semibold">My Tasks</h2>
                <div class="flex items-center space-x-2">
                    <label for="chooseTaskDate" class="text-zinc-600">Choose Day:</label>
                    <input onchange="{
                        let url = getUrl();
                        url.searchParams.set('task_due_date', this.value);
                        reload(url);
                    }"
                           th:value="${task_due_date}"
                           id="chooseTaskDate"
                           type="date" class="text-black border border-card px-2 py-1 rounded-lg"/>
                    <label for="taskSortProperty" class="text-base text-primary">Sort by:</label>
                    <select
                            onchange="sortWithPrefix('task_',this.value, getElementById('taskSortDirection').value)"
                            id="taskSortProperty"
                            class="bg-input text-zinc-600 border border-input rounded-md px-4 py-2 pr-8">
                        <option value="">None</option>
                        <option th:each="option: ${@sortingUtils.getSortingFields('Task')}"
                                th:value="${option}"
                                th:text="${@sortingUtils.getSortingFormattedSortingFiled(option)}"
                                th:selected="${task_sortProperties.equals(option)}">
                            Username
                        </option>
                    </select>
                    <select
                            onchange="sortWithPrefix('task_' ,getElementById('taskSortProperty').value,this.value)"
                            id="taskSortDirection"
                            class="bg-input text-zinc-600 border border-input rounded-md px-4 py-2 pr-8">
                        <option th:selected="${task_sortDirection.equals('asc')}"
                                value="asc">
                            ASC
                        </option>
                        <option th:selected="${task_sortDirection.equals('desc')}"
                                value="desc">
                            DESC
                        </option>
                    </select>
                </div>
            </div>
            <ul id="user-tasks">
                <li th:id="*{id + '-taks-section'}" th:each="task: ${userTasks}" th:object="${task}"
                    class="flex flex-col py-4 border-b border-card">
                    <div class="flex items-center justify-between mb-2">
                        <span th:text="*{name}" class="text-black text-lg ">Task 3</span>
                        <span th:text="*{'Priority: ' + priority}" class="text-black">Priority: High</span>
                        <span th:text="*{'Category: ' + category}" class="text-black">Category: Personal</span>
                    </div>
                    <p th:text="*{description}" class=" text-zinc-600 mb-2">Notes: Consectetur adipiscing elit, sed do
                        eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <div class="flex items-center justify-between">
                        <span th:if="!*{allDay}" th:text="*{'Start time: ' +startTime}" class="text-sm text-zinc-600">
                            Start Time: 09:00 AM
                        </span>
                        <span th:if="!*{allDay}" th:text="*{'End time: ' + endTime}" class="text-sm text-zinc-600">
                            End Time: 10:00 AM
                        </span>
                        <span th:if="*{allDay}" class="text-sm text-zinc-600">All day</span>
                        <a th:href="@{/tasks/edit/{id}(id = *{id})}"
                           class="bg-secondary text-secondary-foreground py-1 px-2 rounded-lg shadow-md hover:bg-secondary/80">
                            Edit
                        </a>
                        <form th:method="delete" th:action="@{/tasks/{id}(id = *{id})}">
                            <button class="bg-destructive text-destructive-foreground py-1 px-2 rounded-lg shadow-md
                                           hover:bg-destructive/80"
                                    type="submit">Delete
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </section>
        <section id="my-questions" class=" bg-card rounded-lg p-6 shadow-md overflow-y-auto max-h-96">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-lg text-black font-semibold">My Questions</h2>
                <div class="flex items-center space-x-2">
                    <label for="chooseQuestionId" class="text-zinc-600">Choose Day:</label>
                    <input onchange="{
                        let url = getUrl();
                        url.searchParams.set('question_created_time', this.value);
                        reload(url);
                    }"
                           th:value="${question_created_time}"
                           type="date"
                           id="chooseQuestionId"
                           class="text-black border border-card px-2 py-1 rounded-lg"/>
                    <label for="questionSortProperty" class="text-base text-primary">Sort by:</label>
                    <select
                            onchange="sortWithPrefix('question_',this.value,
                             getElementById('questionSortDirection').value)"
                            id="questionSortProperty"
                            class="bg-input text-zinc-600 border border-input rounded-md px-4 py-2 pr-8">
                        <option th:each="option: ${@sortingUtils.getSortingFields('Question')}"
                                th:value="${option}"
                                th:text="${@sortingUtils.getSortingFormattedSortingFiled(option)}"
                                th:selected="${question_sortProperties.equals(option)}">
                            Username
                        </option>
                    </select>
                    <select
                            onchange="sortWithPrefix('question_',
                            ('questionSortProperty').value,this.value)"
                            id="questionSortDirection"
                            class="bg-input text-zinc-600 border border-input rounded-md px-4 py-2 pr-8">
                        <option th:selected="${question_sortDirection.equals('asc')}"
                                value="asc">
                            ASC
                        </option>
                        <option th:selected="${question_sortDirection.equals('desc')}"
                                value="desc">
                            DESC
                        </option>
                    </select>
                </div>
            </div>
            <ul>
                <li th:each="question: ${userQuestions}" th:object="${question}"
                    class="flex flex-col py-4 border-b border-card">
                    <a th:href="@{'/questions/' + *{id}}">
                        <div class="flex items-center justify-between mb-4">
                            <span th:text="*{title}" class="text-black font-semibold">Question 3</span>
                            <span th:text="*{'Tags: ' + tags}" class="text-black">Priority: High</span>
                            <span th:text="*{answers + ' Answer/s'}" class="text-black">Answer/s: 5</span>
                        </div>
                        <p th:text="*{description}" class="text-sm text-zinc-600 mb-4">
                            Description: Some desc
                        </p>
                        <div class="flex items-center justify-between">
                            <span th:text="*{'Ask on ' + createdTime}" class="text-sm text-zinc-600">Ask on ...</span>
                            <form th:method="delete"
                                  th:action="@{/questions/{id}(id = *{id})}">
                                <button type="submit"
                                        class="ml-auto delete-comment-button bg-destructive
                                        text-destructive-foreground px-2 py-1 rounded-lg font-semibold">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </main>
    <div class="flex gap-8">
        <a th:href="@{/tasks/add}"
           class="add-task-btn bg-primary text-primary-foreground py-2 px-4 mt-8 rounded-lg shadow-md hover:bg-primary/80">
            Add New
            Task
        </a>
        <a th:href="@{/questions/ask}"
           class="add-task-btn bg-primary text-primary-foreground py-2 px-4 mt-8 rounded-lg shadow-md hover:bg-primary/80">
            Ask Question
        </a>
    </div>
</div>
<footer th:replace="~{/fragments/footer::footer}"></footer>
</body>
<script th:src="@{/js/dates.js}"></script>
<script th:src="@{/js/pagingSortingAndFiltering.js}"></script>
</html>