<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head::head}"></head>
<body class="bg-blue-500 mb-6 mt-6">
<form th:replace="~{/fragments/language::language(true)}"></form>
<div class="text-primary-foreground min-h-screen flex items-center justify-center">
    <div class="bg-card lg:w-3/4 xl:w-1/2 py-8 px-12 rounded-lg shadow-lg">
        <h2 class="text-2xl text-black font-bold mb-6">Profile</h2>
        <form th:method="put"
              th:action="@{/users/edit}"
              th:object="${profileData}"
              class="text-black"
              enctype="multipart/form-data">
            <div class="grid grid-cols-2 gap-6">
                <div class="mb-4">
                    <label th:for="username" class="block text-base font-medium mb-2">Username</label>
                    <input th:field="*{username}"
                           required minlength="5" maxlength="15"
                           type="text" id="username" name="username"
                           placeholder="Enter your username"
                           class="w-full px-4 py-4 border rounded-lg focus:outline-none focus:ring focus:ring-primary"/>
                    <div th:errors="*{username}" class="text-sm text-destructive">
                        <p>User username error message</p>
                    </div>
                </div>
                <div class="mb-4">
                    <label th:for="fullName" class="block text-base font-medium mb-2">Full Name</label>
                    <input th:field="*{fullName}"
                           required minlength="5" maxlength="20"
                           type="text" id="fullName" name="fullName"
                           placeholder="Enter your full name"
                           class="w-full px-4 py-4 border rounded-lg focus:outline-none focus:ring focus:ring-primary"/>
                    <div th:errors="*{fullName}" class="text-sm text-destructive">
                        <p>User full name error message</p>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-6">
                <div class="mb-4">
                    <label th:for="email" class="block text-base font-medium mb-2">Email</label>
                    <input th:field="*{email}"
                           required type="email" id="email" name="email" placeholder="Enter your email"
                           class="w-full px-4 py-4 border rounded-lg focus:outline-none focus:ring focus:ring-primary"/>
                    <div th:errors="*{email}" class="text-sm text-destructive">
                        <p>User email error message</p>
                    </div>
                </div>
                <div class="mb-4">
                    <label th:for="age" class="block text-base font-medium mb-2">Age</label>
                    <input th:field="*{age}"
                           required min="1" type="number" id="age" name="age" placeholder="Enter your age"
                           class="w-full px-4 py-4 border rounded-lg focus:outline-none focus:ring focus:ring-primary"/>
                    <div th:errors="*{age}" class="text-sm text-destructive">
                        <p>User age error message</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center justify-center w-full h-full mt-2 mb-6 ">
                <img aria-hidden="true" id="profilePicturePreview" alt="profile-picture"
                     th:src="${@userHelperServiceImpl.getLoggedUser().getProfilePicture().getUrl()}"
                     class="w-24 h-24 rounded-full object-cover mb-4"/>
                <input th:field="*{profilePicture}" type="file" id="profilePicture" class="hidden"/>
                <label id="profilePicturePreviewLabel" th:for="profilePicture" class="cursor-pointer text-black">
                    Upload from device
                </label>
                <button type="button" onclick="setDefaultPicture()" class="mt-4">Use default picture</button>
            </div>
            <button type="submit"
                    class="bg-primary text-primary-foreground py-3 px-4 rounded-lg hover:bg-primary/80 transition-colors duration-300 ml-0 mt-2">
                Save changes
            </button>
        </form>
    </div>
</div>
<script th:src="@{/js/profile-picture.js}"></script>
</body>
</html>