<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/headWithCsrf::head}"></head>
<body class="">
<nav th:replace="~{/fragments/navigation::nav}"></nav>
<div th:object="${questionData}"
     class="mt-8 mb-8 bg-background text-primary-foreground min-h-screen flex flex-col items-center">
    <h1 th:text="*{title}" class="self-start ml-48 text-black text-left text-3xl mb-4">Task 1</h1>
    <div class="bg-card shadow-lg rounded-lg overflow-hidden w-full md:w-3/4 relative">
        <div class="p-4 text-lg">
            <p th:text="*{description}" class="text-black">I am attempting to write an simple function in an HTML page
                which displays the image and there are few buttons which change the image I have used the
                "document.getElementById('myImage').src= " command to change it but there is no image shows after I
                click the image. The same image is loading properly using the tag. The same button works if I use a link
                direct taken from google. Below I have pasted the code. Any suggestions are appreciated.</p>
            <pre th:text="*{code}" th:if="*{!code.isBlank()}"
                 class="font-mono text-black pt-4 pb-4 pl-4 pr-4 mt-4 box-border overflow-scroll bg-code rounded-lg">
            </pre>
        </div>
        <div class="text-black px-4 py-2 flex flex-col  items-end">
            <p th:text="*{'asked ' + createdTime}" class="font-semibold ">asked May 9, 2012 at 4:09 </p>
            <div class="flex gap-2 items-center">
                <img aria-hidden="true" id="profilePicture" alt="profile-picture"
                     th:src="*{user.getProfilePictureUrl()}"
                     class="w-8 h-8 rounded-full object-cover "/>
                <p th:text="*{'by ' + user.getUsername()}" class="font-semibold text-black text-right ">by Shenol10</p>
            </div>
        </div>

    </div>
    <div class="self-start w-[75%]  ml-48 flex items-baseline gap-2 mt-6 mb-2">
        <div th:each="tag : *{tags}"
             th:text="${tag}"
             class=" bg-primary text-primary-foreground px-3 py-1 rounded-full">Tag
        </div>
        <form th:method="delete"
              th:action="@{/questions/{id}(id = *{id})}"
              th:if="${questionData.user.getUsername() == @userHelperServiceImpl.username || @userHelperServiceImpl.isAdmin()}"
              class="ml-auto delete-comment-button bg-destructive text-destructive-foreground px-2 py-1 rounded-lg font-semibold">
            <button type="submit">Delete</button>
        </form>
    </div>

    <form th:method="post" th:action="@{/questions/answer/{id}(id = *{id})}"
          class="bg-card shadow-lg rounded-lg overflow-hidden w-full md:w-3/4 mt-4 relative">
        <div class="p-4" th:object="${questionAnswerData}">
            <h2 class="text-black text-2xl  mb-2">Answer</h2>
            <label th:for="description" class="mb-2 block text-sm font-medium mt-4 text-black">Description</label>
            <textarea id="description" th:field="*{description}"
                      class="w-full h-20 text-black placeholder-muted-foreground border border-primary rounded-lg p-2 focus:outline-none focus:ring focus:ring-primary"
                      placeholder="Write your comment here">
            </textarea>
            <div th:errors="*{description}"
                 class="text-sm text-destructive">
                <p>Username length must be between 5 and 15 symbols!</p>
            </div>
            <label th:for="code" class="mb-2 block text-sm font-medium mt-4 text-black">Code</label>
            <textarea id="code" th:field="*{code}"
                      class="w-full h-20 text-black placeholder-muted-foreground border border-primary rounded-lg p-2 focus:outline-none focus:ring focus:ring-primary"
                      placeholder="Write your comment here">

            </textarea>
            <div th:errors="*{code}"
                 class="text-sm text-destructive">
                <p>Username length must be between 5 and 15 symbols!</p>
            </div>
            <button class="bg-primary text-primary-foreground px-4 py-2 mt-2 rounded-lg font-semibold">Add Answer
            </button>
        </div>
    </form>
    <div class="bg-card shadow-lg rounded-lg overflow-hidden w-full md:w-3/4 mt-4 relative">
        <div class="p-4" id="answers">
            <div class="flex gap-6 items-baseline">
                <h2 th:text="*{answers.size() + ' Answer/s'}" id="answersCount"
                    class="text-black font-bold text-2xl mb-2">3
                    Answer</h2>
            </div>
            <div th:if="${invalidData}" id="invalidDataScroll"></div>
            <div th:each="answer: *{answers}" th:id="${answer.id + '-answer-section'}"
                 class="comment-container border-solid border-black border-b-2 pb-4">
                <div th:object="${answer}">
                    <p th:text="*{getDescription}" class="text-black mt-2">Great job on completing this task!
                        Great
                        job on completing this task!</p>
                    <pre th:text="*{code}" th:if="*{!code.isBlank()}"
                         class="font-mono text-black pt-4 pb-4 pl-4 pr-4 mt-4 box-border overflow-scroll bg-code rounded-lg">
                    </pre>
                    <div class="text-black flex justify-between items-center">
                        <button
                                th:if="${answer.user.getUsername() == @userHelperServiceImpl.username || @userHelperServiceImpl.isAdmin()}"
                                th:data-id="*{id}"
                                onclick="deleteAnswer(this.dataset.id)"
                                class="mt-6 delete-comment-button bg-destructive text-destructive-foreground px-2 py-1 rounded-lg font-semibold">
                            Delete
                        </button>
                        <div class="mt-4 ml-auto">
                            <p th:text="*{'answered ' + getCreatedTime}" class="font-semibold ">answered May 9,
                                2012 at 4:09 </p>
                            <div class="flex items-center justify-end gap-2">
                                <img aria-hidden="true" alt="profile-picture"
                                     th:src="*{user.getProfilePictureUrl()}"
                                     class="w-8 h-8 rounded-full object-cover "/>
                                <p th:text="*{'by ' + user.getUsername()}"
                                   class="font-semibold text-black text-right ">by
                                    Shenol10</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${successfullyAddedAnswer}" id="addedAnswerScroll"></div>
        </div>
    </div>
</div>
<footer th:replace="~{/fragments/footer::footer}"></footer>
<script th:src="@{/js/csrf.js}"></script>
<script th:src="@{/js/delete-answer.js}"></script>
<script th:src="@{/js/answer-scroller.js}"></script>
</body>
</html>
