<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head::head}"></head>
<body class="">
<nav th:replace="~{/fragments/navigation::nav}"></nav>
<div th:object="${questionData}"
     class="mt-8 mb-8 bg-background text-primary-foreground min-h-screen flex flex-col items-center">
    <h1 th:text="*{title}" class="self-start ml-48 text-black text-left text-3xl mb-4">Task 1</h1>
    <div class="bg-card shadow-lg rounded-lg overflow-hidden w-full md:w-3/4 relative">
        <div class="p-4 text-lg">
            <p th:text="*{description}" class="text-black">I am attempting to write an simple function in an HTML page
                which displays the image and there are few buttons which change the image I have used the
                "document.getElementById('myImage').src= " command to change it but there is no image shows after I
                click the image. The same image is loading properly using the tag. The same button works if I use a link
                direct taken from google. Below I have pasted the code. Any suggestions are appreciated.</p>
            <pre class="pl-4 pr-4 mt-4 box-border overflow-scroll bg-code rounded-lg">
                <code th:text="*{code}" class="text-black pl-2">
@GetMapping("/ask")
    public String askView(Model model) {
        if (!model.containsAttribute("askQuestionData")) {
            model.addAttribute("askQuestionData", new AskQuestionDTO());
        }
        return "ask-question";
    }
                </code>
                </pre>
        </div>
        <div class="text-black px-4 py-2 flex flex-col  items-end">
            <p th:text="*{'asked ' + createdTime}" class="font-semibold ">asked May 9, 2012 at 4:09 </p>
            <p th:text="*{'by ' + userUsername}" class="font-semibold text-black text-right ">by Shenol10</p>
        </div>

    </div>
    <div class="self-start ml-48 flex gap-2 mt-6 mb-2">
        <div th:each="tag : *{tags}"
             th:text="${tag}"
             class=" bg-primary text-primary-foreground px-3 py-1 rounded-full">Tag
        </div>
    </div>

    <form th:method="post" th:action="@{/questions/answer/{id}(id = *{id})}"
          class="bg-card shadow-lg rounded-lg overflow-hidden w-full md:w-3/4 mt-4 relative">
        <div class="p-4" th:object="${questionAnswerData}">
            <h2 class="text-black text-2xl  mb-2">Answer</h2>
            <label th:for="description" class="mb-2 block text-sm font-medium mt-4 text-black">Description</label>
            <textarea id="description" th:field="*{description}"
                    class="w-full h-20 text-black placeholder-muted-foreground border border-primary rounded-lg p-2 focus:outline-none focus:ring focus:ring-primary"
                    placeholder="Write your comment here">
            </textarea>
            <div th:errors="*{description}"
                 class="text-sm text-destructive">
                <p>Username length must be between 5 and 15 symbols!</p>
            </div>
            <label th:for="code" class="mb-2 block text-sm font-medium mt-4 text-black">Code</label>
            <textarea id="code" th:field="*{code}"
                    class="w-full h-20 text-black placeholder-muted-foreground border border-primary rounded-lg p-2 focus:outline-none focus:ring focus:ring-primary"
                    placeholder="Write your comment here">

            </textarea>
            <div th:errors="*{code}"
                 class="text-sm text-destructive">
                <p>Username length must be between 5 and 15 symbols!</p>
            </div>
            <button class="bg-primary text-primary-foreground px-4 py-2 mt-2 rounded-lg font-semibold">Add Answer
            </button>
        </div>
    </form>
    <div class="bg-card shadow-lg rounded-lg overflow-hidden w-full md:w-3/4 mt-4 relative">
        <div class="p-4">
            <div class="flex gap-6 items-baseline">
                <h2 th:text="*{answers.size() + ' Answers'}" class="text-black font-bold text-2xl mb-2">3 Answer</h2>
                <div class="mb-6 flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4">
                    <select class="px-4 py-2 rounded-lg text-black focus:outline-none focus:ring focus:ring-primary">
                        <option value="" selected disabled hidden>Sort by</option>
                        <option value="name">Name</option>
                        <option value="category">Category</option>
                        <option value="date">Date</option>
                    </select>
                </div>
            </div>
            <div th:if="${scrollToFrom}" id="scroll"></div>
            <div th:each="answer: *{answers}" class="comment-container border-solid border-black border-b-2 pb-4">
                <p th:text="${answer.getDescription()}" class="text-black mt-2">Great job on completing this task! Great job on completing this task!</p>
                <pre class="pl-4 pr-4 mt-4 box-border overflow-scroll bg-code rounded-lg">
                <code th:text="${answer.getCode()}"  class="text-black pl-2">
@GetMapping("/ask")
    public String askView(Model model) {
        if (!model.containsAttribute("askQuestionData")) {
            model.addAttribute("askQuestionData", new AskQuestionDTO());
        }
        return "ask-question";
    }
                </code>
                </pre>
                <div class="text-black  flex justify-between items-center">
                    <button class="mt-6 delete-comment-button bg-destructive text-destructive-foreground px-2 py-1 rounded-lg font-semibold">
                        Delete
                    </button>
                    <div class="mt-4">
                        <p th:text="${'answered ' + answer.getCreatedTime()}" class="font-semibold ">answered May 9, 2012 at 4:09 </p>
                        <p th:text="${'by ' + answer.getUserUsername()}" class="font-semibold text-black text-right ">by Shenol10</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{/fragments/footer::footer}"></footer>
</body>
<script>
    document.getElementById("scroll")
        .scrollIntoView({block: "end", behavior: "smooth"});
</script>
</html>
