<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change Confirmation</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Password Change Confirmation</h1>
    </div>
    <div class="content">
        <p th:assert="${USERNAME != null}" th:text="${'Dear, ' + USERNAME}">Dear ,</p>
        <p>We wanted to let you know that your password has been successfully changed.</p>
        <p>If you did not make this change, please contact our support team immediately to secure your account.</p>
        <p>Thank you for taking steps to keep your account secure.</p>
        <p>Best regards,<br>The TaskMaster Team</p>
    </div>
    <div class="footer">
        <p>&copy; 2024 TaskMaster. All rights reserved.</p>
        <!--        <p>If you have any questions, please contact us at <a href="mailto:support@yourcompany.com">support@yourcompany.com</a>.-->
        <!--        </p>-->
    </div>
</div>
</body>
</html>